@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: #111827;
    background-color: #F8FAF8;
  }
}

/* Custom clean subtle square scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #D1D5DB;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9CA3AF;
}
